* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.featuredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 32px;
}

.featured__item {
  width: 360px;
  display: flex;
  flex-direction: column;
}

.featured__img {
  width: 100%;
}

.featured__content {
  background-color: #F8F8F8;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.featured__title {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}

.featured__text {
  font-family: "latolight";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.featured__price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}